.theme-orange a { color:#ff6600; }
.theme-orange a:visited { color:#ff6600; }
.theme-orange .menu a:hover { background:#fee9d4; }
.theme-orange .menu a.highlighted, .theme-orange .submenu a.highlighted { background:#fee9d4; }
.theme-orange h2.coloured, .theme-orange h3.coloured, .theme-orange h4.coloured { color:#ff6600; }
.theme-orange h2.underline-dotted, .theme-orange h3.underline-dotted, .theme-orange h4.underline-dotted { border-bottom-color:#ff6600; }
.theme-orange h2.underline-solid, .theme-orange h3.underline-solid, .theme-orange h4.underline-solid { border-bottom-color:#ff6600; }
.theme-orange .box-coloured {
  border-color:#ff6600;
  background-color:#fdddc8;
}
.theme-orange a.more { background:url(/images/buttons/orange-icon-arrow.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange a.back { background:url(/images/buttons/orange-icon-arrow-left.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange a.button, .theme-orange input.button { color:#ff6600; }
.theme-orange a.button:visited
input.input-button:visited { color:#ff6600; }
.theme-orange a.button-coloured {
  color:#ffffff;
  color:#ffffff;
  border-color:#f7aa76;
  background-image:url(/images/buttons/orange-background.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
}
.theme-orange input.button-coloured { color:#ffffff; }
.theme-orange a.button-coloured:visited, .theme-orange input.button-coloured:visited { color:#ffffff; }
.theme-orange a.button-coloured.button-disabled, .theme-orange input.button-coloured.button-disabled {
  cursor:default !important;
  background-image:url(/images/buttons/orange-background-disabled.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) !important;
  border-color:#ffccaa;
  color:#ffddbb !important;
}
.theme-orange a.left-button { background:url(/images/buttons/orange-left-button.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange a.right-button { background:url(/images/buttons/orange-right-button.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange input[type=button].button-coloured, .theme-orange input[type=submit].button-coloured {
  color:#ffffff;
  border-color:#f7aa76;
  background-image:url(/images/buttons/orange-background.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
}
.theme-orange a.button-coloured:hover, .theme-orange input[type=button].button-coloured:hover, .theme-orange input[type=submit].button-coloured:hover { background-image:url(/images/buttons/orange-background-rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange a.button-coloured-arrow-next, .theme-orange input.button-coloured-arrow-next[type=submit], .theme-orange input.button-coloured-arrow-next[type=button] {
  border-color:#f7aa76;
  color:#ffffff;
  background-image:url(/images/buttons/orange-arrow-next-button.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
}
.theme-orange a.button-coloured-arrow-next:hover, .theme-orange input[type=button].button-coloured-arrow-next:hover, .theme-orange input[type=submit].button-coloured-arrow-next:hover { background-image:url(/images/buttons/orange-arrow-next-button-rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange a.button-arrow, .theme-orange input.button-arrow { background-image:url(/images/buttons/orange-background-arrow.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange a.button-arrow:hover, .theme-orange input.button-arrow:hover { background-image:url(/images/buttons/orange-background-arrow-rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange a.button-arrow-previous, .theme-orange input.button-arrow-previous { background-image:url(/images/buttons/orange-arrow-previous-button.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange a.button-arrow-previous:hover, .theme-orange input.button-arrow-previous:hover { background-image:url(/images/buttons/orange-arrow-previous-button-rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divOrderHistoryOrderItemActions #btnAddToCart, .theme-orange a.button-cart, .theme-orange input[type=submit].button-cart, .theme-orange input[type=button].button-cart {
  border-color:#f7aa76;
  color:#ffffff;
  background-image:url(/images/buttons/orange-background-addtocart.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
}
.theme-orange #divOrderHistoryOrderItemActions #btnAddToCart:visited, .theme-orange a.button-cart:visited { color:#ffffff; }
.theme-orange #divOrderHistoryOrderItemActions #btnAddToCart:hover, .theme-orange a.button-cart:hover, .theme-orange input.button-cart:hover { background-image:url(/images/buttons/orange-background-addtocart-rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange input[type=submit].button-cart-white {
  color:#ff6600;
  background-image:url(/images/buttons/cart/cart_orange_white.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) !important;
}
.theme-orange input.button-cart-white:hover { background-image:url(/images/buttons/cart/cart_orange_white_rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) !important; }
.theme-orange a.button-coloured-arrow, .theme-orange input.button-coloured-arrow[type=submit], .theme-orange input.button-coloured-arrow[type=button] {
  border-color:#f7aa76;
  color:#ffffff;
  background-image:url(/images/buttons/orange-arrow-button.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
}
.theme-orange a.button-coloured-arrow:hover, .theme-orange input[type=button].button-coloured-arrow:hover, .theme-orange input[type=submit].button-coloured-arrow:hover, .theme-orange input.button-coloured-arrow:active { background-image:url(/images/buttons/orange-arrow-button-rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange a.button-coloured-arrow:visited { color:#ffffff; }
.theme-orange a.header-cart-empty { background-image:url(/images/buttons/cart/cart_transparent_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange a.header-cart-full {
  border-color:#f7aa76;
  color:#ffffff;
  background-image:url(/images/buttons/cart/cart_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
}
.theme-orange a.header-cart-full:visited { color:#ffffff; }
.theme-orange a.button-coloured-email {
  border-color:#f7aa76;
  background-image:url(/images/buttons/orange-mail-button.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  color:#ffffff;
}
.theme-orange a.button-coloured-email:hover { background-image:url(/images/buttons/orange-mail-button-rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange a.button-coloured-chat {
  border-color:#f7aa76;
  background-image:url(/images/buttons/orange-chat-button.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  color:#ffffff;
}
.theme-orange a.button-coloured-chat:hover { background-image:url(/images/buttons/orange-chat-button-rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .next-step { background:url(/images/pagination/arrow-next-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) right no-repeat; }
.theme-orange .pagination .pagination-prev { background-image:url(/images/pagination/arrow-prev-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .pagination .pagination-next { background-image:url(/images/pagination/arrow-next-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .widget-accordion .accordion h3 {
  color:#ff6600;
  border-top:1px solid #ff6600;
}
.theme-orange .widget-accordion .accordion h3 span { background-image:url(/images/buttons/orange-icon-plus.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .widget-accordion .accordion h3.ui-state-active span { background-image:url(/images/buttons/orange-icon-minus.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange form.jNice .jNiceSelectWrapper { color:#000000; }
.theme-orange form.jNice .jNiceSelectWrapper .jNiceSelectOpen { background-image:url(/images/form-elements/orange-arrow.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divHeader form.jNice .jNiceSelectWrapper .jNiceSelectOpen { background-image:url(/images/header/arrow-orange.jpg?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange form.jNice .jNiceSelectWrapper ul a:hover { background:#fdddc8; }
.theme-orange form.jNice .jNiceCheckbox { background-image:url(/images/form-elements/checkbox-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange form.jNice.small .jNiceCheckbox { background-image:url(/images/form-elements/checkbox-small-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange form.jNice .jNiceRadio { background-image:url(/images/form-elements/radio-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange dl.bullets ul li, .theme-orange ul.bullets li, .theme-orange .about-moo-job-details ul li { background-image:url(/images/bullets/inkdrop_small_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .side-nav-minus { background-image:url(/images/buttons/orange-icon-minus.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .side-nav-plus { background-image:url(/images/buttons/orange-icon-plus.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #ulNav span.tab-right { background:url(/images/navigation/tab_arrow_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #ulNav .tab-active span.tab-right { background:url(/images/navigation/tab_arrow_orange_with_corner.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #ulNav .tab-last.tab-active span.tab-right { background:url(/images/navigation/tab_arrow_orange_with_corner_no_tail.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divSiteAlert { background-color:#ff6600; }
.theme-orange #divHeaderLogo p.stripe { background:url(/images/logo/logo_with_stripe_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.no-stripe { background:url(/images/logo/logo_no_stripe_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.flickr-stripe { background:url(/images/logo/logo_with_stripe_orange_flickr.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.picasa-stripe { background:url(/images/logo/logo_with_stripe_orange_picasa.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.flickr-no-stripe { background:url(/images/logo/logo_no_stripe_orange_flickr.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.picasa-no-stripe { background:url(/images/logo/logo_no_stripe_orange_picasa.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.facebook-stripe { background:url(/images/logo/logo_with_stripe_orange_facebook.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.facebook-no-stripe { background:url(/images/logo/logo_no_stripe_orange_facebook.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.etsy-stripe { background:url(/images/logo/logo_with_stripe_orange_etsy.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.etsy-no-stripe { background:url(/images/logo/logo_no_stripe_orange_etsy.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.smugmug-stripe { background:url(/images/logo/logo_with_stripe_orange_smugmug.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.smugmug-no-stripe { background:url(/images/logo/logo_no_stripe_orange_smugmug.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.istockphoto-stripe { background:url(/images/logo/logo_with_stripe_orange_istockphoto.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.istockphoto-no-stripe { background:url(/images/logo/logo_no_stripe_orange_istockphoto.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divHeaderLogo p.no-stripe a, .theme-orange #divHeaderLogo p.stripe a {
  width:225px;
  height:108px;
  margin:0;
  display:block;
}
.theme-orange #divReducedHeaderLogo p { background:url(/images/logo/moo_logo_small_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange #divReducedHeaderLogo p a {
  width:50px;
  height:50px;
  margin-top:10px;
}
.theme-orange .shadow-box-outer {
  border-top-style:solid;
  border-top-width:2px;
  border-top-color:#ff6600;
}
.theme-orange .readymade-container .browse-header {
  border-top-style:solid;
  border-top-width:2px;
  border-top-color:#ff6600;
}
.theme-orange .account-container .inplaceeditor-form input.editor_ok_button {
  color:#ffffff;
  border-color:#f7aa76;
  background-image:url(/images/buttons/orange-background.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
}
.theme-orange .order-history-view-details, .theme-orange #reorderItems .details-link { background-image:url(/account/images/icon-details-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .order-history-edit-shipping { background-image:url(/account/images/icon-shipping-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .order-history-printer { background-image:url(/images/buttons/orange-printer.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .order-history-cancel { background-image:url(/account/images/icon-cancel-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .order-history-reorder { background-image:url(/account/images/icon-cart-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #liEditAddress { background-image:url(/account/images/icon-address-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divOrderHistoryOrderItemActions #btnEditReorder, .theme-orange #reorderItems .edit-reorder, .theme-orange #orderItemActions .edit-reorder {
  background-image:url(/account/images/icon-edit-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  color:#ff6600;
}
.theme-orange .account-container #divOrderHistoryOrderItemImageSide ul li.selected { border:2px solid #ff6600; }
.theme-orange .progressBarStatus span.progressBarStatusUploaded { background-image:url(/images/bullets/tick-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .progressBarInProgress, .theme-orange .progressBarComplete, .theme-orange .progressBarError { background-image:url(/uploader/images/section_orange_bar.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #hFinishedCards #sPickerInfo { background-color:#fdddc8; }
.theme-orange #divFrontText {
  background-color:#fdddc8;
  border-color:#ff6600;
}
.theme-orange #divMakeCard { background-image:url(/images/textomatic/point-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .textomatic-container #ulFrontTextControls #aZoomIn { background-image:url(/images/controls/zoom-in-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .textomatic-container #ulFrontTextControls #aZoomOut { background-image:url(/images/controls/zoom-out-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .textomatic-container #ulFrontTextControls #aRotateRight { background-image:url(/images/controls/rotate-right-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .textomatic-container #ulFrontTextControls #aRotateLeft { background-image:url(/images/controls/rotate-left-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .textomatic-container #ulFrontTextControls #aReverseColours { background-image:url(/images/controls/inverse-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #aScrollLeft { background-image:url(/images/controls/scroll-left-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #aScrollRight { background-image:url(/images/controls/scroll-right-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange li.rotatecropper a { background:url(/images/rotate_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat 50% 10px; }
.theme-orange li.resetcropper a { background:url(/images/reset_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat 50% 10px; }
.theme-orange li.previewcropper a { background:url(/images/preview_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat 50% 10px; }
.theme-orange .warningmessage {
  background:;
  color:;
}
.theme-orange .image-enhancement { background-image:url(/images/form-elements/checkbox-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange dl.alignmentpicker ul li.selected { border-color:#ff6600; }
.theme-orange #divToolbarNew dl dt span.control a.clickbutton { background-image:url(/images/controls/dropdown-right-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divChooseLayoutOrArtwork #ulTemplatePicker li.selected a { border-color:#ff6600; }
.theme-orange #ulArtworkPicker li.selected a { border-color:#ff6600; }
.theme-orange .container #ulTextLines span.fontweightbold { background-image:url(/images/controls/bold_on-orange.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .container #ulTextLines span.fontsizelarge { background-image:url(/images/controls/font_size_large-orange.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divFrontControlsAndText #divControls #aEnlarge { background-image:url(/images/controls/enlarge-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divFrontControlsAndText #divControls #aReduce { background-image:url(/images/controls/reduce-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divFrontControlsAndText #divControls #aRotate { background-image:url(/images/controls/rotate-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divFrontControlsAndText #divControls #aClear { background-image:url(/images/controls/clear-image-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divDesignFrontHolidaycard #spnDragArrow { background-image:url(/images/arrow-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #pTemplateHint { background-image:url(/images/arrow-small-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divExplainSides ul li.selected img { border-color:#ff6600; }
.theme-orange #divDesignMiddleHolidaycard #divMiddleTextlines #aRotate { background-image:url(/images/controls/rotate-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divDesignBackHolidaycard #divBackControlsAndText #aEnlarge { background-image:url(/images/controls/enlarge-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divDesignBackHolidaycard #divBackControlsAndText #aReduce { background-image:url(/images/controls/reduce-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divDesignBackHolidaycard #divBackControlsAndText #aRotate { background-image:url(/images/controls/rotate-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divChooseStock th, .theme-orange #divChooseStock .cell_price li { color:#ff6600; }
.theme-orange #divPreviewContainer h5, .theme-orange #divCheckPreviewDialog h4 { color:#ff6600; }
.theme-orange #tblChooseQuantity thead th, .theme-orange #divChooseQuantityAndPaper table td.savings span, .theme-orange #tblChooseQuantity td.savings span { color:#ff6600; }
.theme-orange .newsletter-archive h2 { background:url(/images/bullets/big_orange_arrow_right.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat 6px 2px; }
.theme-orange .newsletter-archive h2.active { background:url(/images/bullets/big_orange_arrow_down.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat 0 2px; }
.theme-orange .newsletter-archive h3.month { background:url(/images/bullets/small_orange_arrow_right.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat 0 3px; }
.theme-orange .newsletter-archive h3.month-active { background:url(/images/bullets/small_orange_arrow_down.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat 0 3px; }
.theme-orange div.divPreviewButtons a { background:url(/images/products/slideshow-small-control-inactive-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange .slideshow-container .slideshow-pager a, .theme-orange .container-slideshow-fade-small .slideshow-fade-small-pager a { background:url(/images/products/slideshow-control-inactive-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange div.divPreviewButtons a.active { background:url(/images/products/slideshow-small-control-active-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange .slideshow-container .slideshow-pager a.activeSlide, .theme-orange .container-slideshow-fade-small .slideshow-fade-small-pager a.activeSlide { background:url(/images/products/slideshow-control-active-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange .slideshow-pager-container .slideshow-pager a { background:url(/images/products/slideshow-control-inactive-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange .slideshow-pager-container .slideshow-pager a.activeSlide { background:url(/images/products/slideshow-control-active-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange .slideshow-pager-container #slideshowControls a { background:url(/images/products/slideshow-controls-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat; }
.theme-orange .slideshow-pager-container #slideshowControls a#resumeSlideshow { background-position:-16px 0; }
.theme-orange div.slider { background:url(/images/dropbox/slider-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .accessories-icon-box div.shadow-box-outer { background:#ffffff url(/images/products/accessories-with-yay-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat right bottom; }
.theme-orange .about-exec-content .exec p.rosette { background:#ffffff url(/images/bullets/small_rosette_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat left center; }
.theme-orange .slideshow-large-thumbnails-pager li.activeSlide { background-image:url(/images/bullets/small_orange_arrow_up.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .slideshow-large-thumbnails-pager li.activeSlide a img { border-color:#fd7d28; }
.theme-orange #divTracker .current {
  background:#ff6600;
  border:1px #ff6600 solid;
}
.theme-orange #divTracker .current a { color:white; }
.theme-orange #divTracker .current a:visited { color:white; }
.theme-orange #divTracker .complete {
  border:1px #ff6600 solid;
  background:white;
}
.theme-orange #divBlogContainer div.related-articles ul li { background-image:url(/images/bullets/inkdrop_small_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divBlogContainer #comments h4 a { background-image:url(/blog/wp-content/themes/moo/images/arrow-closed-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divBlogContainer #comments h4.expanded a { background-image:url(/blog/wp-content/themes/moo/images/arrow-open-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange #divBlogContainer #comments .blog-comment-form label span { color:#ff6600; }
.theme-orange #divBlogContainer #divSidebar .widget .textwidget, .theme-orange #divBlogContainer #divSidebar .widget ul { border-top:2px solid #ff6600; }
.theme-orange .satisfaction-guaranteed-1 ol li.satisfaction-1 { background-image:url(/images/bullets/orange-1.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174) !important; }
.theme-orange .satisfaction-guaranteed-1 ol li.satisfaction-2 { background-image:url(/images/bullets/orange-2.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .satisfaction-guaranteed-1 ol li.satisfaction-3 { background-image:url(/images/bullets/orange-3.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .satisfaction-stamp-small {
  background:url(/images/about/satisfaction/satisfaction-stamp-small-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat 0px bottom;
  width:85px;
  height:85px;
}
.theme-orange .satisfaction-stamp { background:url(/images/about/satisfaction/satisfaction-stamp-orange.jpg?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat 50px bottom; }
.theme-orange .icon-box .icon-box-one, .theme-orange .icon-box-medium .icon-box-one {
  background:url(/images/bullets/orange-1.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174) 0px 3px no-repeat;
  min-height:53px;
}
.theme-orange .icon-box .icon-box-two, .theme-orange .icon-box-medium .icon-box-two {
  background:url(/images/bullets/orange-2.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174) 0px 3px no-repeat;
  min-height:53px;
}
.theme-orange .icon-box .icon-box-three, .theme-orange .icon-box-medium .icon-box-three {
  background:url(/images/bullets/orange-3.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174) 0px 3px no-repeat;
  min-height:53px;
}
.theme-orange .icon-box .icon-box-four, .theme-orange .icon-box-medium .icon-box-four {
  background:url(/images/bullets/orange-4.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174) 0px 3px no-repeat;
  min-height:53px;
}
.theme-orange .icon-box .icon-box-five {
  background:url(/images/bullets/orange-5.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174) 0px 3px no-repeat;
  min-height:53px;
}
.theme-orange .accepted {
  background:url(/images/bullets/tick-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) 10px 50% no-repeat;
  color:#ff6600;
}
.theme-orange .promoApplied, .theme-orange .vatDeducted {
  background:url(/images/bullets/tick-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) 0px 50% no-repeat;
  color:#ff6600;
}
.theme-orange .accessories-promo-box div { border-top-color:#ff6600; }
.theme-orange h3.large { color:#ff6600; }
.theme-orange .shareoption span { color:#ff6600; }
.theme-orange #divFooter .moo-droplet { background:url(/images/moodroplet/moo-droplet-face-orange-static.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat scroll 0 -1px transparent; }
.theme-orange #divFooter address:hover .moo-droplet { background:url(/images/moodroplet/moo-droplet-face-orange.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat scroll 0 -1px transparent; }
.theme-orange .overlay-container .close { background-image:url(/images/close_cross_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .overlay-container a.close, .theme-orange .moo-overlay-container a.close { background-image:url(/images/close_cross_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange a.preview-button { background:url(/images/buttons/orange-magnifier-cross.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange a.preview-button:hover { background:url(/images/buttons/orange-magnifier-cross-rollover.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange div#divPdpSlideshow .slideshow-pager-container a.pdpLightboxLink { background:url(/images/products/mag_glass_large_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange .cart-container a.link-back { background:url(/images/bullets/small_orange_arrow_left.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange .preview-link { background:url(/images/bullets/orange-magnifying-glass.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange .duplicate-link { background:url(/images/bullets/orange-plus.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange .cart-box .cart-item .remove-button { background-image:url(/images/buttons/icon-cancel-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .cart-container .button-address-delete, .theme-orange .address-book .button-address-delete {
  background:url(/images/buttons/cross_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat;
  color:#ff6600;
}
.theme-orange .cart-container .button-address-edit, .theme-orange .address-book .button-address-edit {
  background:url(/images/buttons/edit_pencil_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat;
  color:#ff6600;
}
.theme-orange #ulOrderActions li.magnifier {
  background:transparent url(/images/buttons/orange-magnifier.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat;
  background-position:0;
}
.theme-orange #ulOrderActions li.printer {
  background:transparent url(/images/buttons/orange-printer.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat;
  background-position:0;
}
.theme-orange .cart-box .editable button {
  border-color:#f7aa76;
  background-image:url(/images/buttons/orange-background.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
}
.theme-orange div.product-chooser-container div.jNiceSelectWrapperInner {
  background-image:url(/images/buttons/orange-background.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  background-color:#f7aa76;
  border-color:#f7aa76;
  border:2px solid #f7aa76;
}
.theme-orange div.product-chooser-container div.jNiceSelectWrapper div.jNiceSelectWrapperInner ul {
  background-color:#f3903c;
  border:2px solid #f7aa76;
}
.theme-orange div.product-chooser-container div.jNiceSelectWrapper div.jNiceSelectWrapperInner ul li a.selected { background-color:#f3903c; }
.theme-orange div.product-chooser-container div.jNiceSelectWrapper div.jNiceSelectWrapperInner ul li:hover a { background-color:#e77513; }
.theme-orange .cost-calculator .remove { background-image:url(/images/cost-calculator/cost_calculator_delete_orange.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .cost-calculator div.addItem a { background-image:url(/images/cost-calculator/cost_calculator_plus_orange.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174); }
.theme-orange .cost-calculator #currencySelector li { color:#ff6600; }
.theme-orange #divChooseQuantityAndPaper p.show-more-quantities {
  background-image:url(/images/buttons/orange-plus.gif?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  color:#ff6600;
}
.theme-orange div.coloured-border { border:2px solid #ff6600; }
.theme-orange a.link-back {
  background:url(/images/bullets/small_orange_arrow_left.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat;
  padding:0px 0px 0px 16px;
}
.theme-orange ul.other-actions a#previeweditlink {
  background-image:url(/images/navigation/back_arrow_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  color:#ff6600;
}
.theme-orange #divChatButton a {
  border:3px #ff6600 solid;
  background-image:url(/images/buttons/chat_speech_bubble_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  background-color:#ff6600;
  color:#ffffff;
}
.theme-orange .previous-link {
  background-image:url(/images/bullets/mini_left_arrow_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  background-repeat:no-repeat;
  background-position:0% 50%;
  padding-left:14px;
}
.theme-orange .previous-inactive {
  background-image:url(/images/bullets/mini_left_arrow_grey.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  background-repeat:no-repeat;
  background-position:0% 50%;
  padding-left:14px;
  color:#cccccc;
}
.theme-orange .next-link {
  background-image:url(/images/bullets/mini_right_arrow_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  background-repeat:no-repeat;
  background-position:100% 50%;
  padding-right:14px;
}
.theme-orange .next-inactive {
  background-image:url(/images/bullets/mini_right_arrow_grey.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  background-repeat:no-repeat;
  background-position:100% 50%;
  padding-right:14px;
  color:#cccccc;
}
.theme-orange .sort {
  padding-right:12px;
  white-space:nowrap;
}
.theme-orange .sort-asc {
  background-image:url(/images/bullets/mini_up_arrow_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  background-repeat:no-repeat;
  background-position:100% 50%;
}
.theme-orange .sort-desc {
  background-image:url(/images/bullets/mini_down_arrow_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
  background-repeat:no-repeat;
  background-position:100% 50%;
}
.theme-orange a.pdp-action-button.corners-rounded { background:url(/images/buttons/pdp-browse/corners_rounded_off_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange a.pdp-action-button.corners-rounded:hover { background:url(/images/buttons/pdp-browse/corners_rounded_on_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange a.pdp-action-button.corners-square { background:url(/images/buttons/pdp-browse/corners_square_off_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange a.pdp-action-button.corners-square :hover { background:url(/images/buttons/pdp-browse/corners_square_on_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange .sticker-featured-product-image { background-color:#ff6600; }
.theme-orange .tophilight { background-color:#ff6600; }
.theme-orange .upload-icon-image, .theme-orange .upload-icon-image-tooltip { background-color:#ff6600; }
.theme-orange .button-print { background:url(/images/buttons/orange-print.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange .button-email { background:url(/images/buttons/orange-email.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) left no-repeat; }
.theme-orange a.button-combo span.combo-right { background:url(/images/form-elements/orange-arrow.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat scroll center center transparent; }
.theme-orange a.button-combo span.combo-dropdown .menu li a.highlighted { background:none repeat scroll 0 0 #fee9d4; }
.theme-orange #aSaveCombo .combo-left { background:url(/images/save_orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174) no-repeat scroll center center transparent; }
.theme-orange .pdp-browser-radio-image, .theme-orange div#divPdpPortraitPreview a#previous, .theme-orange div#divPdpLandscapePreview a#previous, .theme-orange div#divPdpPortraitPreview a#next, .theme-orange div#divPdpLandscapePreview a#next, .theme-orange .pdpAction a.fave, .theme-orange .pdp-browse-pack a.fave, .theme-orange .pdp-browse-pack .fave-remove {
  background-repeat:no-repeat;
  background-image:url(/images/design-templates/pdpbrowse-sprite-orange.png?q=008bbf58f7ab9ba0dfdc78b6fee9a174);
}
.theme-orange #divShippingTo #rushBox.active, .theme-orange #divShippingMethods tr.active td, .theme-orange #divCollectionMethods tr.active td { background-color:#fef4e9; }
.theme-orange .mooFbLikeButtonWrapper { padding:0px; }
.theme-orange #divShareFacebook .mooFbLikeButtonWrapper { padding:36px 0px 0px; }
.theme-orange #uniqueShareUrlLabel { color:#ff6600; }
